# 2주차: 데이터 구조, 제어구조 및 함수

### * 오늘의 커리큘럼 *

#### 수업: 데이터 구조
- 숫자
- 문자열
- 리스트  
- 튜플  
- 세트  
- 딕셔너리
- 집합
- 불

### =================================

### 수업: 데이터 구조

교재 46페이지

혹은 https://wikidocs.net/11

#### 숫자 (Numbers)

Integers and floats work as you would expect from other languages:

In [3]:
x = 3
print(x, type(x))

3 <class 'int'>

In [41]:
print(x + 1)   # Addition;
print(x - 1)   # Subtraction;
print(x * 2)  # Multiplication;
print(x ** 2)  # Exponentiation;
print(x / 2)  # Devision;

2
0
2
1
0.5

In [65]:
# 정수형
a = 123
a = -178
a = 0

In [66]:
# 실수형
a = 1.2
a = -3.45
a = 4.24E10
a = 4.24e-10

In [67]:
# 8진수
a = 0o177

# 16진수
a = 0x8ff
a = 0xABC

In [68]:
# 복소수
a = 1 + 2j
b = 3 - 4J

a.real # 1.0
a.imag # 2.0
a.conjugate() # (1 - 2j) 켤레 복소수 리턴
abs(a) # 2.2360679664997898 복소수의 절댓값 리턴

2.23606797749979

In [69]:
# 사칙 연산
a = 3
b = 4
a + b # 7
a * b # 12
a / b # 0.75

0.75

In [70]:
# x의 y제곱을 나타내는 ** 연산자
a = 3
b = 4
a ** b # 81

81

In [71]:
# 나눗셈후 나머지를 반환하는 % 연산
7 % 3 # 1
3 % 7 # 3

3

In [72]:
# 나눗셈 후 소수점 아랫자리를 버리는 // 연산자
7 / 4 # 1.75
7 // 4 # 1

1

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/2/library/stdtypes.html#numeric-types-int-float-long-complex).

#### 문자열 (Strings)

In [2]:
hello = 'hello'   # String literals can use single quotes
world = " world"   # or double quotes; it does not matter.
print(hello + world)
# print(hello, len(hello))

hello world

In [3]:
len(hello)

5

String objects have a bunch of useful methods; for example:

You can find a list of all string methods in the [documentation](https://docs.python.org/2/library/stdtypes.html#string-methods).

In [ ]:
# 문자열
"Life is too short, You need Python"
"a"
"123"

# 큰따옴표(")로 양쪽 둘러싸기
"Hello World"

# 작은따옴표(')로 양쪽 둘러싸기
'Python is fun'

# 큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기
"""Life is too short, You need python"""

# 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기
'''Life is too short, You need python'''

In [ ]:
# 문자열에 작은따옴표(')포함시키기
food = "Python's favorite food is perl"

# 문자열에 큰따옴표(")포함시키기
say = '"Python is very easy." he says.'

# \(백슬래시)를 이용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\"he says."

In [ ]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때
# 줄을 바꾸기 위한 이스케이프 코드 '\n' 삽입하기
multiline = "Life is too short\nYou need python"

# 연속된 작은 따옴표 3개(''') 또는 큰따옴표 3개(""")이용
multiline = '''
Life is too short
You need python
'''

multiline = """
Life is too short
You need python
"""

print(multiline)

In [ ]:
# 문자열 더해서 연결하기
head = "Python"
tail = "is fun!"
head + tail

In [ ]:
# 문자열 곱하기
a = "python"
a * 2

# multistring.py
print("=" * 50)
print("My Program")
print("=" * 50)

In [ ]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
a[3] # 'e'
a[0] # 'L'
a[12] # 's'
a[-1] # 'n'
a[-0] # 'L' a[0]와 같다
a[-2] # 'o' 뒤에서 두 번째 문자
a[-5] # 'y' 뒤에서 다섯 번째 문자

# 문자열 슬라이싱
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3] # 'Life'
a[0:4] # 'Life'
a[0:3] # 'Lif'
a[0:5] # 'Life '
a[0:2] # 'Li'
a[5:7] # 'is'
a[12:17] # 'short'
a[19:] # 'You need Python'
a[:17] # 'Life is too short'
a[:] # 'Life is too short, You need Python'
a[19:-7] # 'You need'

a = "20010331Rainy"
data = a[:8] # 20010331
weather = a[8:] # Rainy
year = a[:4] # 2001
day = a[4:8] # 0331
weather = a[8:] # Rainy

In [ ]:
# 문자열 포매팅
# 숫자 바로 대입
"I eat %d apples." % 3 # 'I eat 3 apples.'

# 문자열 바로 대입
"I eat %s apples." % "five" # 'I eat five apples.'

# 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number # 'I eat 3 apples.'

# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." % (number, day)
# 'I ate 10 apples, so I was sick for three days.'

# 어떤 형태의 값이든 변환해 넣을 수 있는 %s 포맷 코드
"I have %s apples" % 3 # 'I have 3 apples'
"rate is %s" % 3.234 # 'rate is 3.234'

# 포맷 코드와 숫자 함께 사용하기
# 정렬과 공백
"%10s" % "hi" # '        hi'
"%-10sjane" % "hi" # hi        jane

# 소수점 표현하기
"%0.4f" % 3.42134234 # '3.4213'
"%10.4f" % 3.42134234 # '    3.4213'

In [ ]:
# 문자 개수 세기
a = "hobby"
a.count('b') # 2

# 위치 알려주기 1
a = "Python is best choice"
a.find('b') # 10
a.find('k') # -1

# 위치 알려주기 2
a = "Life is too short"
a.index('t') # 8
# a.index('k')

# 문자열 삽입
a = ","
a.join('abcd') # 'a,b,c,d'

In [ ]:
# 소문자를 대문자로 바꾸기
a = "hi"
a.upper() # 'HI'

# 대문자를 소문자로 바꾸기
a = "HI"
a.lower() # 'hi'

# 왼쪽 공백 지우기
a = " hi "
a.lstrip() # 'hi '

# 오른쪽 공백 지우기
a = " hi "
a.rstrip() # ' hi'

# 양쪽 공백 지우기
a = " hi "
a.strip() # 'hi'

# 문자열 바꾸기
a = "Life is too short"
a.replace("Life", "Your leg") # 'Your leg is too short'

# 문자열 나누기
a = "Life is too short"
a.split() # ['Life', 'is', 'too', 'short']
a = "a:b:c:d"
a.split(':') # ['a', 'b', 'c', 'd']

In [ ]:
# 'Pithon'이라는 문자열을 'Python'으로 바꾸기
a = "Pithon"
a[1] = 'i'
a[1] = 'y'

a = "Pithon"
a[:1] # 'P'
a[2:] # 'thon'
a[:1] + 'y' + a[2:] # 'Python'

# "Error is %d%" % 98
"Error is %d%%." % 98 # 'Error is 98%.'

In [ ]:
# 고급 문자열 포매팅
# 숫자 바로 대입하기
"I eat {0} apples".format(3) # 'I eat 3 apples'

# 문자열 바로 대입하기
"I eat {0} apples".format("five") # 'I eat five apples'

# 숫자 값을 가진 변수를 대입하기
number =3
"I eat {0} apples".format(number) # 'I eat 3 apples'

# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)
# 'I ate 10 apples. so I was for three days.'

# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = 3)
# 'I ate 10 apples. so I was for three days.'.

# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day = 3)
# 'I ate 10 apples. so I was for three days.'

#### 리스트 (Lists)

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types. You can find all details about lists in the [documentation](https://docs.python.org/3.11/tutorial/datastructures.html#more-on-lists).

In [ ]:
# 리스트
# 여러 가지 리스트의 표현
odd = [1, 3, 5, 7, 9]
a =[] # 비어있는 리스트
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [ ]:
# 리스트 인덱싱
a = [1, 2, 3]
a # [1, 2, 3]
a[0] # 1
a[0] + a[2] # 4
a[-1] # 3
a = [1, 2, 3, ['a', 'b', 'c']]
a[0] # 1
a[-1] # ['a', 'b', 'c']
a[3] # ['a', 'b', 'c']
a[-1][0] # 'a'
a[-1][1] # 'b'
a[-1][2] # 'c'

# 삼중 리스트에서 인덱싱하기
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0] # 'Life'

In [ ]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2] # [1, 2]
a = "12345"
a[0:2] # '12'
# 문자열에서 사용하는 슬라이싱 방법과 동일하다.

a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b # [1, 2]
c # [3, 4, 5]

# 중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5] # [3, ['a', 'b', 'c'], 4]
a[3][:2] # ['a', 'b']

In [ ]:
# 리스트 더하기(+)
a = [1, 2, 3]
b = [4, 5, 6]
a + b # [1, 2, 3, 4, 5, 6]

# 리스트 반복하기(*)
a = [1, 2, 3]
a * 3 # [1, 2, 3, 1, 2, 3, 1, 2, 3]

# 초보자가 범하기 쉬운 리스트 연산 오류
a = [1, 2, 3]
# a[2] + "hi" Error
str(a[2]) + "hi"

In [ ]:
# 리스트에서 하나의 값 수정하기
a = [1, 2, 3]
a[2] = 4
a # [1, 2, 4]

# 리스트에서 연속된 범위의 값 수정하기
a = [1, 2, 4]
a[1:2] # [2]
a[1:2] = ['a', 'b', 'c']
a # [1, 'a', 'b', 'c', 4]

# [] 사용해 리스트 요소 삭제하기
a[1:3] = []
a # [1, 'c', 4]

# del 함수 사용해 리스트 요소 삭제하기
a = [1, 'c', 4]
a # [1, 'c', 4]
del a[1]
a # [1,4]

# 리스트에 요소 추가
a = [1, 2, 3]
a.append(4)
a # [1, 2, 3, 4]
a.append([5, 6])
a # [1, 2, 3, 4, [5, 6]]

In [ ]:
# 리스트 정렬
a = [1, 4, 3, 2]
a.sort()
a # [1, 2, 3, 4]
a = ['a', 'c', 'b']
a.sort()
a # ['a', 'b', 'c']

# 리스트 뒤집기
a = ['a', 'c', 'b']
a.reverse()
a # ['b', 'c', 'a']

# 위치 반환
a = [1, 2, 3]
a.index(3) # 2
a.index(1) # 0
# a.indxe(0) Error

# 리스트에 요소 삽입
a = [1, 2, 3]
a.insert(0, 4) # [4, 1, 2, 3]
a.insert(3, 5) # [4, 1, 2, 5, 3]

# 리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(3) # [1, 2, 1, 2, 3]
a.remove(3) # [1, 2, 1, 2]

# 리스트 요소 끄집어내기
a = [1, 2, 3]
a.pop() # 3
a # [1, 2]
a = [1, 2, 3]
a.pop(1) # 2
a # [1, 3]

# 리스트에 포함된 요소 x의 개수 세기
a = [1, 2, 3, 1]
a.count(1) # 2

# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
a # [1, 2, 3, 4, 5]
b = [6, 7]
a.extend(b)
a # [1, 2, 3, 4, 5, 6, 7]

#### 튜플 (Tuples)

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [36]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
print(d)
t = (5, 6)       # Create a tuple
print(type(t))
print(d[t])       
print(d[(1, 2)])

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
<class 'tuple'>
5
1

In [37]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 튜플
# 튜플의 표현
t1 = ()
t2 = (1,)
t3 = (1,2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

# 튜플 요소 값 삭제 시 오류
t1 = (1, 2, 'a', 'b')
# def t1[0] Error

# 튜플 요소 값 변경 시 오류
t1 = (1, 2, 'a', 'b')
# t1[0] = 'c' Error

# 튜플 인덱싱
t1 = (1, 2, 'a', 'b')
t1[0] # 1
t1[3] # 'b'

# 튜플 슬라이싱
t1 = (1, 2, 'a', 'b')
t1[1:] # (2, 'a', 'b')

# 튜플 더하기
t2 = (3, 4)
t1 + t2 # (1, 2, 'a', 'b', 3, 4)

# 튜플 곱하기
t2 * 3 # (3, 4, 3, 4, 3, 4)

#### 딕셔너리 (Dictionaries)

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [23]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])      # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [24]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])     # Prints "wet"

wet

In [25]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [26]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [27]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

In [9]:
# 딕셔녀리의 표현
dic = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
'''
Key     Value
name    pey
phone   0119993323
birth   1118
'''

a = { 1 : 'hi' } # Key : 1, Value : 'hi'
a = { 'a' : [1, 2, 3] } # Key : 'a', Value : [1, 2, 3]

# 딕셔너리 쌍 추가하기
a = { 1 : 'a' }
a[2] = 'b'
a # { 2 : 'b', 1 : 'a' }
a['name'] = 'pey'
a # { 'name' : 'pey', 2 : 'b', 1 : 'a' }
a[3] = [1, 2, 3]
a # { 'name' : 'pey', 3 : [1, 2, 3], 2 : 'b', 1 : 'a' }

# 딕셔너리 요소 삭제하기
del a[1]
a # { 'name' : 'pey', 3 : [1, 2, 3], 2 : 'b' }

# 딕셔너리에서 Key 사용해 Value 얻기
grade = { 'pey' : 10, 'julliet' : 99 }
grade['pey'] # 10
grade['julliet'] # 99
a = { 1 : 'a', 2 : 'b' }
a[1] # 'a'
a[2] # 'b'
a = { 'a' : 1, 'b' : 2 }
a['a'] # 1
a['b'] # 2
dic = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
dic['name'] # 'pey'
dic['phone'] # '0119993323'
dic['birth'] # '1118'


# 딕셔너리 만들 때 주의할 사항
a = { 1 : 'a', 1 : 'b' }
a # { 1 : 'b' } 동일한 Key는 사용할 수 없음
# a = { [1, 2] : 'hi' } 변하는 값은 Key로 사용할 수 없음

# Key 리스트 만들기
a = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
a.keys() # dic_keys(['name', 'phone', 'birth'])
for k in a.keys() :
    print(k)
'''
name
phone
birth
'''

# dict_keys 객체를 리스트로 반환
list(a.keys()) # ['phone', 'birth', 'name']

# Value 리스트 만들기
a.values() # dic_values(['pey', '0119993323', '1118'])

# Key, Value 쌍 얻기
a.items() # dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

# Key, Value 쌍 모두 지우기
a.clear()
a # ()

# Key로 Value 얻기
a = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
a.get('name') # 'pey'
a.get('phone') # '0119993323'
a.get('nokey') # None
# a['nokey'] Error
a.get('foo', 'bar') # default값인 'bar' 반환

# Key가 딕셔너리 안에 있는지 조사하기
a = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
'name' in a # True
'email' in a # False

name
phone
birth

False

#### 세트 (Sets)

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [31]:
animals = {'cat', 'dog'}
print('cat' in animals)  # Check if an element is in a set; prints "True"
print('fish' in animals) # prints "False"

True
False

In [32]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [33]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

In [10]:
# 집합의 표현
s1 = set([1, 2, 3])
s1 # {1, 2, 3}
s2 = set('Hello')
s2 # { 'e', 'l', 'o', 'H' }

# 집합의 값을 인덱싱으로 접근
s1 = set([1, 2, 3])
l1 = list(s1) # [1, 2, 3]
l1[0] # 1
l1 = tuple(s1)
l1 # (1, 2, 3)
l1[0] # 1

# 집합 자료형의 활용
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
s1 & s2 # { 4, 5, 6 }
s1.intersection(s2) # { 4, 5, 6 }

# 합집합
s1 | s2 # { 1, 2, 3, 4, 5, 6, 7, 8, 9 }
s1.union(s2) # { 1, 2, 3, 4, 5, 6, 7, 8, 9 }

# 차집합
s1 - s2 # { 1, 2, 3 }
s2 - s1 # { 8, 9, 7 }
s1.difference(s2) # { 1, 2, 3 }
s2.difference(s1) # { 8, 9, 7 }

# 값 1개 추가하기
s1 = set([1, 2, 3])
s1.add(4)
s1 # { 1, 2, 3, 4 }

# 값 여러 개 추가하기
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1 # { 1, 2, 3, 4, 5, 6 }

# 특정 값 제거하기
s1 = set([1, 2, 3])
s1.remove(2)
s1 # { 1, 3 }

{1, 3}

#### 불 (Booleans)

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [11]:
t, f = True, False
print(type(t)) # Prints "<type 'bool'>"

<class 'bool'>

Now we let's look at the operations:

In [8]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

#### 변수

In [ ]:
# 변수
a = 1
b = "python"
c = [1, 2, 3]

a = 3
type(3) # <class 'int'>

a = 3
b = 3
a is b # True

# a, b, c는 정말 같은 객체를 가리키는 걸까?
import sys
sys.getrefcount(3) # 30
a = 3
sys.getrefcount(3) # 31
b = 3
sys.getrefcount(3) # 32
c = 3
sys.getrefcount(3) # 33

# 변수를 만드는 여러 가지 방법
a, b = ('python', 'life')
(a, b) = 'python', 'life'
[a, b] = ['python', 'life']
a = b = 'python'

a = 3
b = 5
a, b = b, a
a # 5
b # 3

# 메모리에 생성된 변수 없애기
a = 3
b = 3
del(a)
del(b)

# 리스트를 변수에 넣고 복사하고자 할 때
a = [1, 2, 3]
b = a
a[1] = 4
a # [1, 4, 3]
b # [1, 4, 3]

# 1. [:] 이용
a = [1, 2, 3]
b = a[:]
a[1] = 4
a # [1, 4, 3]
b # [1, 2, 3]

# 2. copy 모듈 이용
from copy import copy
b = copy(a)
b is a # False

#### Loops

You can loop over the elements of a list like this:

In [18]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [19]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))

#1: cat
#2: dog
#3: monkey

#### List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [20]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
a.sort()
print()

In [21]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [22]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

It is easy to iterate over the keys in a dictionary:

In [28]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

If you want access to keys and their corresponding values, use the iteritems method:

In [29]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [30]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [34]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))
# Prints "#1: fish", "#2: dog", "#3: cat"

#1: cat
#2: fish
#3: dog

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [35]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

#### ================================
### 되새김 문제
#### ================================

In [9]:
'''
홍길동씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.
국어 80점
영어 75점
수학 55점
'''
dict_a = {"국어": 80, "영어": 75, "수학": 55}
sum(dict_a.values())/len(dict_a)
a = [80, 75, 55, 100]
sum(a) / len(a)

77.5

In [10]:
'''
자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해보자
'''
a = 13
if (a % 2 == 1): # 나머지가 1이면 홀수
    print("홀수")
else:# 나머지가 0이면 짝수
    print("짝수")

홀수

In [13]:
'''
홍길동 씨의 주민등록번호는 881120-1068234이다.
홍길동씨의 주민번호를 연월일(YYYYMMDD) 부분과
그 뒤의 숫자 부분으로 나누어 출력해 보자.
'''
# 힌트 : "-"를 이용하기, 개수를 이용하기, 내장함수 이용하기 등등... split index 
pin = '881120-1068234'
yyyymmdd = pin.split("-")[0]
num = pin.split("-")[1]
print(yyyymmdd) # 881120
print(num) # 1068234

index_ = pin.index("-")
yyyymmdd = pin[:index_]
num = pin[index_+1:]
print(yyyymmdd) # 881120
print(num) # 1068234

881120
1068234
881120
1068234

In [ ]:
str(aa)

In [6]:
'''
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.
주민등록번호에서 성별을 나타내는 숫자를 출력해보자.
'''

pin = '881120-1068234'
print()

In [12]:
'''
다음과 같은 문자열 a:b:c:d 가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔 출력해 보자. 
'''
a = "a:b:c:d"
b = 
print(b)

a#b#c#d

In [15]:
'''
[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.
'''

a = [1, 3, 5, 4, 2]
a.
a.
print()

[5, 4, 3, 2, 1]

In [ ]:
'''
Q7. 리스트를 문자열로 만들기
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.

'''
 

a = ['Life', 'is', 'too', 'short']
result = 
print(result)

In [ ]:
'''
Q8. 튜플 더하기
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해보자.

'''

a = (1,2,3)
a = 
print(a)

In [16]:
'''
Q9. 딕셔너리의 키
다음과 같은 딕셔너리 a가 있다.
>>> a = dict()
>>> a
{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해보자.
a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python'
a[250] = 'python'
'''

"\nQ9. 딕셔너리의 키\n다음과 같은 딕셔너리 a가 있다.\n>>> a = dict()\n>>> a\n{}\n\n다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해보자.\na['name'] = 'python'\na[('a',)] = 'python'\na[[1]] = 'python'\na[250] = 'python'\n"

In [ ]:
'''
Q10. 딕셔너리 값 추출하기
딕셔너리 a에서 'B'에 해당하는 값을 추출해 보자. 
'''

a = {'A': 90, 'B': 80, 'C': 70}
result = 
print(a)
print(result)

In [18]:
'''
Q11. 리스트에서 중복 제거하기
리스트에서 중복 숫자를 제거해보자.
'''

a = [1,1,1,2,2,3,3,3,4,4,5]
aSet =
b = 
print(b)

SyntaxError: invalid syntax (570580459.py, line 7)

In [21]:
'''
Q12. 파이썬 변수
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 
다음과 같이 a,b 변수를 선언한 후 a의 두번째 요솟값을 변경하면 b 값은 어떻게 될까? 
그리고 이런 결과가 나오는 이유에 대해 설명해보자.
'''

a=b=[1,2,3] 
a[1] = 4 
print(b)

[1, 4, 3]

In [27]:
id(a)

139686381999120

In [29]:
id(b)

139686381999120

In [33]:
a=[1,2,3] 
b=[1,2,3]
a[1] = 4 
print(a,b)

[1, 4, 3] [1, 2, 3]

In [34]:
id(a)

139686382059920

In [35]:
id(b)

139686382060080

In [30]:
a=b=2
a += 2 
print(b)

2

In [31]:
id(a)

94323159753760

In [32]:
id(b)

94323159753696

In [38]:
import numpy as np
a = 0
for i in range(3):
    prev_a = a;
    a += 1
    print(prev_a)
    print(a)

0
1
1
2
2
3

In [40]:
import numpy as np
a = [0]
for i in range(3):
    prev_a = a;
    a += [i]
    print(prev_a)
    print(a)

[0]
[0, 0]
[0, 0]
[0, 0, 1]
[0, 0, 1]
[0, 0, 1, 2]